<h1>ユーザー登録情報</h1>

<p>ユーザーネーム：<%= @user.name %></p>
<p>メールアドレス：<%= @user.email %></p>
<p><%= link_to 'ログアウト', logout_path, method: :delete %></p>
<p><%= link_to '退会', unsubscribe_path(@user), method: :delete, data: { confirm: '本当に退会しますか？' } %></p>
