<h1 class="head-title">Let's show your favorite craft beer spots!</h1>

<div class="container">
  <p>あなたがオススメするクラフトビールスポットを紹介しよう♪</p>

  <p>クラフトビールを愛するユーザー同士がおすすめのお店を共有し合うことができます。</p>

  <p>きっと、今夜カンパイするお店が見つかるはずです。</p>
  <br>
  <br>

<div>

<% unless current_user %>
  <p>↓ユーザーになって、投稿したり、他ユーザーの投稿にいいねやコメントする↓</p>
  <div class="wrapper">
    <div class="starter">
      <%= link_to(image_tag('beer-icon1.png'), login_path) %>
      <div>ログイン</div>
    </div>

    <div class="starter">
      <%= link_to(image_tag('beer-icon2.png'), signup_path) %>
      <div>新規登録</div>
    </div>
  </div>

  <br>
  <div class="guest">
    <p>↓ログインせずに、気軽にみんなの投稿を見てみる↓</p>
    <%= link_to(image_tag('beer-icon3.png'), guest_login_path, method: :post) %>
    <div>ゲストログイン</div>
  </div>
<% end %>
</div>
