<h1 class="head-title">Find Craft Beer</h1>

<div class="container">
    <h3>あなたがオススメするクラフトビールスポットを紹介しよう♪
    <br>
    <br>
    クラフトビールを愛するユーザー同士がおすすめのお店を共有し合うことができます。
    <br>
    <br>
    きっと、今夜カンパイするお店が見つかります。</h3>
    <br>
    <br>
  <div>

  <% unless current_user %>
    <div class="wrapper">
      <div class="starter">
        <%= link_to(image_tag('beer-icon1.png'), login_path) %>
        <span>ログイン</span>
      </div>

      <div class="starter">
        <%= link_to(image_tag('beer-icon2.png'), signup_path) %>
        <span>新規登録</span>
      </div>
    </div>

    <br>
    <div class="guest">
      <%= link_to(image_tag('beer-icon3.png'), guest_login_path, method: :post) %>
      <span>ゲストログイン</span>
    </div>
  <% end %>
</div>
