<h1>Let's show your favorite craft beer spot!</h1>

<p>あなたがオススメするクラフトビールスポットを紹介しよう</p>

<p>また、今日はどのクラフトビールスポットに行こう？と迷った時には、みんなの投稿を見てみよう♪</p>

<p>きっと、今夜行くお店が見つかるはずです。</p>

<p>投稿を見て、行ったお店が気に入ったら、ぜひ投稿にコメントしてあげましょう♪</p>
<p>全国のビール通と繋がれるかもしれません。</p>


