@import "bootstrap";
@import "users.scss";
@import "font-awesome";

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.contents, .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* コンテナの高さを画面の高さに合わせる場合 */
  margin-top: 30px;
}

p, a {
  text-align: center;
  margin: 10px 0;
}
