.table {
  width: 80%;
  margin: 0px auto;

  th, td{
  font-size: 11px;
  }
}

.table img {
  max-width: 70px;
  max-height: 90px;
  object-fit: cover;
}

.comments-container {
  max-height: 80px;
  overflow-y: auto;
  position: relative;
}
