.container {
  max-width: 1200px;
  margin: 0 auto;
}

.head-title {
  font-family: "Arial", "メイリオ";
  font-weight: bold;
  margin-top: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -20px;
}

.starter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.starter img {
  width: 80px;
}

.starter span {
  margin-top: 5px;
}
