.head-title {
  font-family: "Arial", "メイリオ";
  font-weight: bold;
}

.container h3 {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .starter {
    margin-right: 40px; // Optional: add some space between starters
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20px;

    img {
      width: 110px;
    }
  }
}
.guest {
  display: flex;
  flex-direction: column;
  text-align: center;

  .img{
    margin: 0px;
  }
}
